<div class="col mb-5">
  <div class="card h-100">
    <!-- Product image-->
    <% if item.image.attached? %>
      <%= image_tag item.image, size: "200x200", class: "card-img-top" %>
    <% else %>
      <%= image_tag "150x150.png" %>
    <% end %>
    <!-- Product details-->
    <div class="card-body p-4">
      <div class="text-center">
        <!-- Product name-->
        <h5 class="fw-bolder"><%= item.name %></h5>
        <!-- Product price-->
        <%= number_to_currency(item.price) %>
      </div>
    </div>
    <!-- Product actions-->
    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
      <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
    </div>
  </div>
</div>